@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #456dff;
  --primary-light: #789aff;
  --primary-dark: #2547cc;

  --secondary-color: #ffbf47;
  --secondary-light: #ffe5a1;
  --secondary-dark: #d99e35;

  --background-light: #f9f9f9;
  --background-dark: #ffffff;

  --text-primary: #1e1e1e;
  --text-secondary: #555555;
  --text-light: #9e9e9e;
  --accent-success-dark: #085c1c;

  --accent-success: #28a745;
  --accent-error: #dc3545;
  --accent-info: #17a2b8;

  --border-color: #e0e0e0;
}

.letter-A {
  background-color: #1a1a2e;
}
.letter-B {
  background-color: #2c2c54;
}
.letter-C {
  background-color: #3b3b98;
}
.letter-D {
  background-color: #1e272e;
}
.letter-E {
  background-color: #485460;
}
.letter-F {
  background-color: #2f3640;
}
.letter-G {
  background-color: #273c75;
}
.letter-H {
  background-color: #353b48;
}
.letter-I {
  background-color: #192a56;
}
.letter-J {
  background-color: #2d3436;
}
.letter-K {
  background-color: #2c3e50;
}
.letter-L {
  background-color: #34495e;
}
.letter-M {
  background-color: #1e3799;
}
.letter-N {
  background-color: #0c2461;
}
.letter-O {
  background-color: #222f3e;
}
.letter-P {
  background-color: #182c61;
}
.letter-Q {
  background-color: #0a3d62;
}
.letter-R {
  background-color: #4a4a4a;
}
.letter-S {
  background-color: #3d3d3d;
}
.letter-T {
  background-color: #576574;
}
.letter-U {
  background-color: #2c3e50;
}
.letter-V {
  background-color: #3c6382;
}
.letter-W {
  background-color: #3a3a3a;
}
.letter-X {
  background-color: #333333;
}
.letter-Y {
  background-color: #292929;
}
.letter-Z {
  background-color: #212121;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}
html {
  scrollbar-width: thin;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scrollbar-width: thin;
  background-color: var(--background-light);
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.Loading {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/******************************************************** MULTIPLE TIMES USED PAGES STYLES  *********************************************************/
/*********************** ALL_COURSES PAGE STYLING ***************************/
.Courses {
  padding: 20px;

  h1 {
    text-align: left !important;
    color: black;
    margin-left: 80px;
  }

  #p {
    margin-left: 80px;
    color: black;
  }

  main {
    margin: 30px 60px;

    .heading-row {
      display: flex;
      justify-content: space-between;

      h2 {
        color: var(--text-primary);
        font-size: 30px;
      }

      button,
      a {
        outline: none;
        border: 2.5px solid #5555559f;
        background-color: transparent;
        font-size: 18px;
        padding: 14px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.1s;
        color: var(--text-secondary);

        &:hover {
          border: 2.5px solid var(--text-primary);
          color: black;
        }
      }
    }

    .number {
      margin-top: 30px;
      border-bottom: 2px solid var(--border-color);
      padding-bottom: 50px;

      &:first-child {
        margin-top: 50px;
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0px;
      }

      .topics {
        background-color: #f8f8f8;
        padding: 30px 50px;
        border-radius: 20px;
        margin-top: 20px;

        .full-topic {
          button {
            background: var(--text-light) !important;
            border-radius: 50% !important;
          }
          p {
            font-size: 20px;
            font-weight: 700;
            height: 30px;
            margin-left: 20px;
            color: var(--text-light);
          }

          &:first-child {
            p,
            .topic {
              margin-left: 0;
            }
          }
          .topic {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 120px;
            text-align: center;
            background-color: white;
            border: 1.5px solid #55555581;
            padding: 10px;
            margin-top: 16px;
            border-radius: 20px;
            border-bottom: 3px solid #55555581;
            cursor: pointer;
            transition: all 0.3s;
            margin-left: 20px;

            h3 {
              color: #213547;
            }

            &:hover {
              border: 1.5px solid var(--text-primary);
              border-bottom: 3px solid var(--text-primary);
            }
          }
        }
      }
    }
  }
}
#scrollToTopBtn {
  font-size: 20px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--accent-success-dark);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.809);
  z-index: 20000;
}
/*********************** ALL_COURSES PAGE STYLING ***************************/

.privacy-container {
  padding: 20px;
  font-family: "Arial", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f9f9f9;

  .privacy-policy {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .privacy-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #085c1c;
  }

  .last-updated {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
  }

  .privacy-section {
    margin-bottom: 20px;
  }

  .privacy-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }

  .privacy-section p {
    margin-bottom: 10px;
  }

  .privacy-section ul {
    padding-left: 20px;
    list-style-type: disc;
  }

  .privacy-section ul li {
    margin-bottom: 5px;
  }

  .privacy-policy a {
    color: #085c1c;
    text-decoration: none;

    &:hover {
      color: #28a745;
    }
  }
}

.about-page-container {
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .about-page {
    line-height: 1.6;
    padding: 20px;
    color: #333;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 10px;

    .section-title {
      font-size: 2rem;
      margin-bottom: 10px;
      color: #085c1c;

      &:first-child {
        text-align: center;
      }
    }

    .section-description {
      font-size: 1rem;
      margin-bottom: 20px;
    }

    .course-category {
      margin: 20px 0;
    }

    .category-title {
      font-size: 1.4rem;
      margin-bottom: 10px;
      color: #4caf50;
    }

    .category-list {
      list-style-type: disc;
      margin-left: 20px;
    }

    .features-list,
    .contact-list {
      list-style-type: none;
      padding: 0;
    }

    .features-list li,
    .contact-list li {
      margin-bottom: 10px;
    }

    .conclusion {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .explore-button {
      padding: 10px 20px;
      font-size: 1rem;
      color: #fff;
      background-color: #085c1c;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .explore-button:hover {
      background-color: #28a745;
    }

    .contact-list a {
      color: #085c1c;
      text-decoration: none;

      &:hover {
        color: #28a745;
      }
    }
  }
}

.terms-and-condition-page {
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .terms-container {
    margin: 0 auto;
    max-width: 800px;
    padding: 40px;
    line-height: 1.6;
    color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 15px;

    .terms-header {
      text-align: center;
      margin-bottom: 30px;
    }

    .terms-header h1 {
      font-size: 2.5rem;
      color: #085c1c;
    }

    .terms-header p {
      font-size: 1.2rem;
      color: #7f8c8d;
    }

    .terms-section {
      margin-bottom: 20px;
    }

    .terms-section h2 {
      font-size: 1.8rem;
      color: #28a745;
      margin-bottom: 10px;
    }

    .terms-section p,
    .terms-section ul {
      font-size: 1rem;
    }

    .terms-section ul {
      list-style-type: disc;
      margin-left: 20px;
    }

    .terms-footer {
      text-align: center;
      margin-top: 30px;
      font-size: 1rem;
      color: #95a5a6;
    }

    .terms-footer a {
      color: #28a745;
      text-decoration: none;
    }

    .terms-footer a:hover {
      text-decoration: underline;
    }
  }
}
